.popup-overlay {
	visibility:hidden;
	}
	
	.popup-content {
	visibility:hidden;
	}

	
img {
	width: 25;
	display: block;
	margin: 0 auto;

}
body {
	text-align: center;
	font: font-family: 'Montserrat', sans-serif;;
	background-image: linear-gradient(#2BB673, #27AAE1)
}

.header {
  padding: 10px;
  text-align: center;
  background: white;
  color: linear-gradient(#2BB673, #27AAE1);
  font-size: 10px;
}

s

.black ol li{
	color: white;
}


.maintitle {
	color: white;
	font-size: 40;
	line-height: 3;
	font-family:'Montserrat', sans-serif;
	display: block;
}

#map {
	height: 400px;  /* The height is 400 pixels */
	width: 100;
	display: block;
	margin: 0 auto;  /* The width is the width of the web page */
}

#description {
	text-align: center;
	text-align: justify;
	margin: 70px;
	color: white;
}

.splash {
	background-color: orange;
}
body {
	margin: 0;
}

.paragraph {
	font-size: 14;
	line-height: 1;
	width: 90%;
	max-height: 900 px;
	display: block;
	margin : 0 auto;
	font-family: 'Montserrat', sans-serif;
}

.type = grad1 {
  		height: 100%;
  		background-color: green; /* For browsers that do not support gradients */
  		background-image: linear-gradient(green, blue); /* Standard syntax (must be last) */
	}


.columns {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5%;
	padding-top: 1em;
}

.columns2 {
	display: grid;
	grid-template-columns: .6fr 1fr 1fr 1fr 1fr;
	grid-gap: 5%;
}

.spacing {
	line-height: 7;
}

.button {
  background-color: white; /* Green */
  border:  2px solid #27AAE1;
  color: #27AAE1;
  padding: 15px 32px;
  text-align: center;
  border-radius: 12px;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

#center {width: 25;
	display: block;
	margin: 0 auto;
}

#foo2 {font-size: 15 px;
	display: block;
	margin: 0 auto;
}



#aboutme {
	color: white;
}

h3 + p {
	font-size: 32px;
}

h3 + p {
	font-size: 32px;
}

h4 + p {

	font-size: 20px;
}