html {
  scroll-behavior: smooth;
}

img {
	display: block;
  margin-left: auto;
  margin-right: auto;
	padding-top: 15px;
}

body {
	text-align: center;
	font-family: 'Sedgwick Ave', cursive;
	background-color: white;
	margin: 0;
}

p {
  padding-left: 10%;
  padding-right: 10%;
}

.top-container {
  text-align: center;
	margin-bottom: 30px;
	margin-top: 10px;
}

.header {
  padding: 10px;
  text-align: center;
  background: white;
  font-size: 10px;
  width: 100%;
	border-top: 4px solid black;
	border-bottom: 4px solid black;
	font-family: 'Sedgwick Ave', cursive;
}
/* The three next elements add a fixed position to the navigation bar */
.content {
  padding-top: 10px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 110px;
}

footer {
	border-top: 4px solid darkgray;
}
/* The two next elements make the navbar selectors href black + gold when hover */
a {
	color: black;
	-webkit-transition: color 1s;
  transition: color 1s;
	}

a:hover {
  color: gold;
}
